dropdown {
        display: inline-block;
        width: fit-content;
        height: fit-content;
      }

      dropdown:not([dynamic]) button {
        display: none;
        margin-bottom: 10px;
      }
      dropdown:not([dynamic]):hover button {
        display: block;
      }

      dropdown[dynamic] button {
        display: block;
        margin-bottom: 10px;
        visibility: hidden;
        transform: translateY(-15px);
        transition: all 0.3s ease-in-out;
      }
      dropdown[dynamic]:hover button {
        visibility: visible;
        transform: translateY(0px);
        transition: all 0.3s ease-in-out;
      }

.TopPanel {
    background-color: bisque;
    width: 1820px;
    height: 100px;
    position: relative;
    left: 25px;
    top: 25px;
    border-radius: 50px;
}

#title {
    position: relative;
    left: 50px;
    top: 30px;
    font-size: 35px;
    font-family: 'honk';
    width: fit-content;
}